# dependencies
node_modules/

# next.js
.next/
out/
build/

# production
dist/

# testing
coverage/

# generated
src/generated/

# misc
.DS_Store
*.pem

# env
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

# ide
.vscode/
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

tmp/
